@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

.main {
    background-image: url('../../../../public/journal.jpg');
    height: 100vh;
    background-size: cover;
    margin-top: 0;
    font-family: 'Shalimar', cursive;

}

.journal-card p {
    
    margin-top: 0px;
}

.journal-card {
    background-color: hsl(43, 16%, 75%, .7);
    color: #48413D;
    font-size: larger;
    font-weight: bold;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}