.journal-labels {
  margin: 2em;
  padding: 0.4em;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.8;
  margin-top: 5vh;
}

h1 {
  font-weight: bolder;
  color: white;
  background-color: #000000;
  opacity: 0.89;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7em;
  padding: 0.4em;
  border-radius: 15px;
}
.journal-inputs {
  height: 7.5vh;
  width: 26vw;
  margin-top: 2vh;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Chalkduster', fantasy;

  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
  box-shadow: -7px 10px 5px -4px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -7px 10px 5px -4px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -7px 10px 5px -4px rgba(0, 0, 0, 0.69);
}

.journal-container {
  margin-left: 10vh;
  min-width: 875px;
  min-height: 695px;
  background-size: cover;
  border: #0ea800 3px solid;
  background-image: url('backgroundimg101.jpeg');
  display: grid;
  grid-template-rows: 2fr 8fr 1fr;
  border-radius: 80px;
  padding-bottom: 20px;
  background-color: rgb(244, 238, 229);
  align-items: center;
  box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  font-weight: bold;
  height: 75vh;
  margin-left: 10em;
  margin-right: 10em;
  overflow-y: auto;
}

.journal-card {
  display: inline-block;
  position: static;
  padding: 0.3em 1em;
  margin: 2em;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
}

.submit {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 0.3em solid #096200;
  margin: 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  font-size: large;
  opacity: 0.84;
  cursor: pointer;
}
button:active {
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 588px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 588px #c1c1c1;
  box-shadow: inset 0px 0px 588px #c1c1c1;
  outline: none;
}
a:hover {
  color: blue;
}

.journal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
