.productivity-main {
  background-color: rgb(57, 91, 100);
  color: rgb(231, 246, 242);
  border-right: 1px solid white;
  width: 12vw;
  height: 100vh;
  margin-bottom: 10vh;
  min-height: 80vh;
  position: absolute;
  top: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.59);

  overflow-y: auto;
}

audio {
  margin-top: 2vh;
  width: 8vw;
  height: 3vh;
}

.pomodoro-section {
  margin-top: 30vh;
}

.todo-section {
  margin-top: 10vh;
  margin-right: 2vh;
  margin-left: 2vh;
}

.greeting {
  display: grid;

  font-family: 'Raleway', sans-serif;
  padding: none;
  font-size: 3vh;
}

.signout {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-right: 4vh;
}

.logout-icon {
  height: 2vh;
}

.hello {
  display: flex;
  margin-bottom: none;
  justify-content: center;
}

.hello p {
  margin-top: 4vh;
}

.name-productivity {
  display: flex;
  justify-content: center;
}
