.productivity-main {
  background-color: rgb(216, 233, 168);
  color: rgb(25, 26, 25);
  width: 17vw;
  height: 90vw;
  min-height: 90vw;
  position: fixed;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.pomodoro-section {
  margin-top: 30vh;
}

.todo-section {
  margin-top: 10vh;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  margin-top: 4vh;
}

.signout {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-right: 4vh;
}

.logout-icon {
  height: 2vh;
}
