.creators-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5em;
  background-color: rgb(91, 191, 101);
  border-radius: 3em;
  border: 2em solid black;
}

.creators {
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 5em;
  padding: 5em;
}

.image {
  width: 10vw;
  margin: auto;
  box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
}

.title {
  padding: 1em;
}

.social-icon-link {
  color: blue;
}
