.creators-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5em;
  background-image: url('TODOS.png');
  border-radius: 3em;
  border: 1em solid black;
}

.creators {
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 6em;
  padding: 7em;
}

.image {
  width: 10vw;
  margin: auto;
  margin-top: 1.3343523432em;
  box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -11px 10px 5px -7px rgba(0, 0, 0, 0.36);
}

.social-icon-link {
  color: blue;
}
