.home-main {
  background-image: url('./fog-landscape.jpg');
  font-family: 'Raleway', sans-serif;
  color: rgb(223, 246, 255);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-flex {
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  margin-left: 8vw;
  margin-bottom: 2vh;
}

a {
  text-decoration: none;
}

.home-components {
  margin-right: 2vw;
  width: 88vw;
  height: 90vh;
  margin-left: 12vw;
}

.slogan {
  animation: textAnim 2s ease 0s 1 normal forwards;
  background: -webkit-linear-gradient(rgb(147, 201, 237), rgb(234, 123, 207));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes textAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
