.home-main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(81, 152, 114);
  font-family: 'Libre Baskerville', serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15vw;
}

.home-components {
  width: 85vw;
  margin-left: 15vw;
}
