.meditation-body {
  height: 100vh;
  background-color: black;
}

ul,
li {
  position: absolute;
  top: 50%;
  left: 50%;
}

ul {
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  list-style: none;
  -webkit-animation: breathe 10s infinite ease both;
  animation: breathe 10s infinite ease both;
}

li {
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px #64e6ff, 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 10px #00bff3;
  background: #00bff3;
  opacity: 0.6;
  -webkit-animation-name: clockwise;
  animation-name: clockwise;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

li:nth-child(even) {
  animation-direction: reverse;
}

li:nth-child(3n + 3) {
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  opacity: 0.8;
}

li:nth-child(4n + 4) {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  opacity: 0.4;
}

li:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

li:nth-child(2) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

li:nth-child(3) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

li:nth-child(4) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

li:nth-child(5) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

li:nth-child(6) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

li:nth-child(7) {
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
}

li:nth-child(8) {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

li:nth-child(9) {
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}

li:nth-child(10) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

li:nth-child(11) {
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
}

li:nth-child(12) {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}

li:nth-child(13) {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
}

li:nth-child(14) {
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
}

li:nth-child(15) {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}

li:nth-child(16) {
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
}

li:nth-child(17) {
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
}

li:nth-child(18) {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
}

li:nth-child(19) {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
}

li:nth-child(20) {
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

li:nth-child(21) {
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
}

li:nth-child(22) {
  -webkit-animation-delay: -22s;
  animation-delay: -22s;
}

li:nth-child(23) {
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
}

li:nth-child(24) {
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
}

li:nth-child(25) {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
}

li:nth-child(26) {
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
}

li:nth-child(27) {
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
}

li:nth-child(28) {
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
}

li:nth-child(29) {
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
}

li:nth-child(30) {
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
}

li:nth-child(31) {
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
}

li:nth-child(32) {
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
}

li:nth-child(33) {
  -webkit-animation-delay: -33s;
  animation-delay: -33s;
}

li:nth-child(34) {
  -webkit-animation-delay: -34s;
  animation-delay: -34s;
}

li:nth-child(35) {
  -webkit-animation-delay: -35s;
  animation-delay: -35s;
}

li:nth-child(36) {
  -webkit-animation-delay: -36s;
  animation-delay: -36s;
}

li:nth-child(37) {
  -webkit-animation-delay: -37s;
  animation-delay: -37s;
}

li:nth-child(38) {
  -webkit-animation-delay: -38s;
  animation-delay: -38s;
}

li:nth-child(39) {
  -webkit-animation-delay: -39s;
  animation-delay: -39s;
}

li:nth-child(40) {
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
}

@-webkit-keyframes breathe {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes breathe {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.75);
  }
}
@-webkit-keyframes clockwise {
  0% {
    transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}
