header {
  background-color: rgb(44, 51, 51);
  width: 100%;
  color: rgb(223, 246, 255);
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: 'Libre Baskerville', serif;
  box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 2px rgb(57, 91, 100);
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-items: center;
}
