.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Raleway', sans-serif;
}
.todo-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

#outlined-basic {
  color: #b1aa9a;
}

.todo-main {
  gap: 5vh;
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Raleway', sans-serif;
}
.add-todo-btn {
  background-color: antiquewhite;
  width: 6vh;
  font-family: 'Libre Baskerville', serif;
}
